body {
    background-color: rgb(40, 40, 40);
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* overflow: hidden; */
    user-select: none;
}

#headline {
    color: rgb(220, 220, 220);
    font-style: italic;
    font-size: 65px;
    text-shadow: 0px 0px 25px black;
}

#draw {
    width: 500px;
    margin: auto;
    display: flex;

}

#canv {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#canv:hover {
    cursor: crosshair;
}

#input {
    margin: auto;
    column-count: 2;
    width: 400px;
}

#prompt {
    height: 83px;
    width: 230px;
    box-shadow: 0px 0px 30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: rgb(220, 220, 220);
    position:relative;
    z-index:1;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 130px;
    border-radius: 5px;
    margin-left: 60px;
    font-size: 23px;
    font-style: italic;
    color: white;
    margin-bottom: 10px;
}

#dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 130px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(150, 150, 170);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 30px black;
}
  
#dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
    margin-left: 60px;
}
  
#dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(150, 150, 170);
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}
  
#dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
#dropdown-content a:hover {
    background-color: rgb(112, 112, 128);
    cursor: pointer;
}
  
#dropdown:hover #dropdown-content {
    display: block;
}
  
#dropdown:hover #dropbtn {
    background-color: rgb(112, 112, 128);
    /* &#dropbtn {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    } */
}

#submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 45px;
    width: 130px;
    margin-top: 15px;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 0px 0px 30px black;
    margin-left: 60px;
    color: white;
    position:relative;
    z-index:1;
}

#submit:hover {
    box-shadow: 0px 0px 10px inset black;
    width: 126px;
    height: 43px;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 62px;
    font-size: 15.5px;
    background-color: rgb(151, 39, 39);
}

#brush,#eraser,#undo,#redo,#clear {
    width: 50px;
    height: 30px;
    background-color: rgb(150, 150, 170);
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    position:relative;
    z-index:1;
}

#brush:hover,#eraser:hover,#undo:hover,#redo:hover,#clear:hover,#size:hover {
    background-color: rgb(90, 33, 33);
}

#current:hover,#selected:hover {
    background-color: rgb(124, 50, 50);
}

#undo {
    margin-right: 10px;
}

#redo {
    margin-right: 10px;
}

#brush {
    margin-right: 10px;
}

#tools {
    column-count: 2;
    width: 400px;
    margin: auto;
}

#toolsleft {
    display: flex;
}

#toolsright {
    display: flex;
    justify-content: right;
}

#current {
    width: 50px;
    height: 30px;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    position:relative;
    z-index:1;
    margin-right: 10px;
}

#sizes {
    margin-right: 10px;
    margin-top: 10px;
    z-index: 1;
}

#size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(150, 150, 170);
    border-radius: 5px;
    box-shadow: 0px 0px 8px;
    margin-bottom: 10px;
}

#selected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 0px 0px 8px;
    margin-bottom: 10px;
}

/* Slidebar */
.slider-container {
    text-align: center;
    color: white;
}

.detail-container, sp-container {
    margin-bottom: 3rem;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 300px;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

/* Slide-Button */
/* Chrome & Safari: */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: brown;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}
.slider::-moz-range-thumb:hover {
    transform: scale(1.2);
}

/* Firefox */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: brown;
    cursor: pointer;
    border-radius: 50%;
}
